.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 5px;
  gap: var(--gap-small-xl);
  cursor: pointer;
  color: var(--color-text-primary);
  border: none;
}

.btn span {
  font-weight: var(--font-weight-label) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small-xl);
}

.btn.primary {
  background-color: var(--color-purple);
}

.btn.secondary {
  background-color: var(--color-pink);
}

.btn.flatten {
  background-color: transparent;
}

.btn.l {
  font-size: var(--font-size-18);
}

.btn.m {
  font-size: var(--font-size-16);
}

.btn.s {
  font-size: var(--font-size-14);
}

.btn-img {
  width: 24px;
  height: 24px;
}


@media(max-width: 768px) {

  .btn span {
    font-weight: var(--font-weight-label) !important;
  }

  .btn {
    padding: var(--gap-small-xl) var(--gap-medium-sm);
  }

  .btn.l {
    font-size: var(--font-size-16);
  }

  .btn.m {
    font-size: var(--font-size-14);
  }

  .btn.s {
    font-size: var(--font-size-12);
  }
}