#———————————————————————————————————————#
# DOMAIN                                #
#———————————————————————————————————————#
APP_NAME=keep-up-app-local

#———————————————————————————————————————#
# DOMAIN                                #
#———————————————————————————————————————#
VITE_APP_DOMAIN=app.keep-up.traefik.me
VITE_APP_PORT=3060

#———————————————————————————————————————#
# ENV                                   #
#———————————————————————————————————————#
# development | production
NODE_ENV=development

# local | dev | preprod | prod
APP_ENV=local

#———————————————————————————————————————#
# API DOMAIN                            #
#———————————————————————————————————————#
VITE_API_URL=http://api.keep-up.traefik.me