#———————————————————————————————————————#
# MAIN                                  #
#———————————————————————————————————————#
APP_NAME=keep-up-app-prod

#———————————————————————————————————————#
# APP                                   #
#———————————————————————————————————————#
VITE_APP_DOMAIN=keep-up-app.fr
VITE_APP_PORT=3060
APP_URL=https://${VITE_APP_DOMAIN}

#———————————————————————————————————————#
# ENV                                   #
#———————————————————————————————————————#
# development | production
NODE_ENV=production

# local | dev | preprod | prod
APP_ENV=prod

#———————————————————————————————————————#
# BFF                                   #
#———————————————————————————————————————#
BFF_DOMAIN=bff.keep-up-app.fr
BFF_PORT=3001
VITE_BFF_URL=https://${BFF_DOMAIN}

#———————————————————————————————————————#
# API                                   #
#———————————————————————————————————————#
API_DOMAIN=api.keep-up-app.fr
API_KEY=
VITE_API_URL=https://${API_DOMAIN}

#———————————————————————————————————————#
# WALLET CONNECT                        #
#———————————————————————————————————————#
VITE_WALLET_CONNECT_PROJECT_ID=8cf9cc3f5a52a484e11f5770fadc6bf4