#———————————————————————————————————————#
# MAIN                                  #
#———————————————————————————————————————#
APP_NAME=keep-up-app-local

#———————————————————————————————————————#
# APP                                   #
#———————————————————————————————————————#
VITE_APP_DOMAIN=app.keep-up.traefik.me
VITE_APP_PORT=3060
APP_URL=https://${VITE_APP_DOMAIN}

#———————————————————————————————————————#
# ENV                                   #
#———————————————————————————————————————#
# development | production
NODE_ENV=development

# local | dev | preprod | prod
APP_ENV=local

#———————————————————————————————————————#
# BFF                                   #
#———————————————————————————————————————#
BFF_DOMAIN=bff.keep-up.traefik.me
BFF_PORT=3001
VITE_BFF_URL=https://${BFF_DOMAIN}

#———————————————————————————————————————#
# API                                   #
#———————————————————————————————————————#
API_DOMAIN=api.keep-up.traefik.me
API_TOKEN=
VITE_API_URL=https://${API_DOMAIN}

#———————————————————————————————————————#
# NODE                                  #
#———————————————————————————————————————#

NODE_TLS_REJECT_UNAUTHORIZED=0

#———————————————————————————————————————#
# WALLET CONNECT                        #
#———————————————————————————————————————#
VITE_WALLET_CONNECT_PROJECT_ID=8cf9cc3f5a52a484e11f5770fadc6bf4