name: Deploy Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create destination directory
        run: mkdir -p ~/prod/${{ secrets.SSH_PATH }}

      - name: Deploy to directory
        run: |
          rsync -avz --delete \
            --exclude '.git' \
            --exclude '.github' \
            ./ ~/prod/${{ secrets.SSH_PATH }}

      - name: Initialize Application
        run: |
          cd ~/prod/${{ secrets.SSH_PATH }}
          make init APP_ENV=prod
